html {
  background-color: rgb(212, 197, 205);
  color: white;
}

html a {
  text-decoration: none;
}

.main-layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}